<div class='modal-card'>
  <img
    class='modal-image'
    {{#if posterPath}}
          src='https://image.tmdb.org/t/p/w500{{posterPath}}'
          {{else}}
          src='https://media.istockphoto.com/vectors/cat-sits-in-a-box-with-a-404-sign-page-or-file-not-found-connection-vector-id1278808623?k=20&m=1278808623&s=612x612&w=0&h=tmzYgVK5yF-dtVvW81zz-Ebpeqd6EvD38KYGRjczuiw='
          {{/if}}
    alt='Poster of {{title}} movie'
  />
  <div class='movie-description'>
    <h2 class='movie-description__title'>{{title}}</h2>
    <div class='movie-description__lines'>
      <ul class='movie-description__list'>
        <li>Vote / Votes</li>
        <li>Popularity</li>
        <li>Original Title</li>
        <li>Genre</li>
      </ul>
      <ul>
        <li><span class='movie-card__vote'>{{vote}}</span>   / <span class='movie-card__vote movie-card__vote--votes'>{{votes}}</span> </li>
        <li>{{popularity}}</li>
        <li>{{originalTitle}}</li>
        <li>{{movieGenres}}</li>
      </ul>
    </div>
    <h3 class='movie-description__about-title'>about</h3>
    <p class='movie-description__about-text'>
      {{overview}}
    </p>
    <div class='modal-tabs'>
      <button
        id='watched-btn'
        class='modal-tabs__btn modal-tabs__btn--current'
        type='button'
        data-id='{{id}}'
      >
        add to watched
      </button>
      <button
        id='queue-btn'
        class='modal-tabs__btn  modal-tabs__btn--current'
        type='button'
        data-id='{{id}}'
      >
       add to queue
      </button>
    </div>
  </div>
</div>