{{#each this}}
  <div class='movie-card'>
    <a class='movie-card__link' href='#' data-id='{{id}}'>
      <img
        class='movie-card__image'
        src='https://image.tmdb.org/t/p/w500{{poster_path}}'
        alt='Poster of {{title}} movie'
        width='100%'
        height='100%'
        loading='lazy'
      />
      <div class='movie-card__info'>
        <h2 class='movie-card__title'>
          {{title}}
        </h2>
        <p class='movie-card__descr'>
          <span class='movie-card__genres'>{{genres}} | {{year}}</span><span class="movie-card__vote">{{vote}}</span>
        </p>
      </div>
    </a>
  </div>
{{/each}}